html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url(/assets/images/login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.layui-main {
    width: 1200px;
    margin: auto;
}

.logo {
    margin-top: 20px;
}

.enter {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.enter .head {
    height: 60px;
    background-image: url(/assets/images/login_title.png);
    background-repeat: no-repeat;
    background-position: center;
}

#login-form {
    padding: 0px 32px;
}

#res-form {
    padding: 0px 32px;
}

.layui-btn {
    margin-bottom: 20px;
}

.go-res {
    display: flex;
    justify-content: flex-end;

}

.go-login {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 35px;
}